* {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --input-height: max(200px, 20vh);
}

/* Main Content */
main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: var(--input-height) 1fr;
    min-height: 100vh;
}

/* Form Styling */
#noteForm {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Saved Notes Section */
#savedNotes {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    list-style-type: none;
    overflow-x: wrap;
    overflow-y: scroll;
}

#savedNotes .note {
    margin-bottom: 4px;
    border: solid 1px black;
    border-radius: 6px;
    padding: 4px;
}

/* Buttons */
.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}