* {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --input-height: max(200px, 20vh);
}

/* Main Content */
main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: var(--input-height) 1fr;
    min-height: 100vh;
}

/* Form Styling */
#noteForm {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#noteForm #tArea {
    width: 100%;
}

/* Saved Notes Section */
#savedNotes {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    list-style-type: none;
    overflow-x: wrap;
    overflow-y: scroll;
}

#savedNotes .note {
    margin-bottom: 4px;
    border: solid 1px black;
    border-radius: 6px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.note button {
    justify-self: end;
    margin-left: auto;
}

.note span {
    flex-grow: 1;
}

/* Buttons */
.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Media Queries */
@media (min-width: 601px) {
    main {
        grid-template-columns: 1fr 3fr 1fr;
    }
}

@media (min-width: 1001px) {
    main {
            grid-template-columns: 1fr 2fr 1fr;
        }
}

@media (min-width: 1201px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}